body{
    background-color: #333834;
    font-family: 'Syne Mono', monospace;
}

#startview{
    width: 1000px;
    height: 600px;
    background-color: darkorchid;
    position: absolute;
    top: 73px;
    left: 310px;
}

#canvas{
    border: 1px solid black;
}

#one-win{
    margin-top: 5vh;
    padding-top: 15vh;
    padding-bottom: 10vh;
    background-color: #000;
    color: blanchedalmond;
    display: none;
}
#one-win iframe{
    margin-bottom: 4vh;
}

#one-win h1{
    font-size: 70px;
}

#yoda{
    margin-top: 5vh;
    padding-top: 8vh;
    padding-bottom: 10vh;
    background-color: #000;
    color: blanchedalmond;
    display: none;
}
#yoda iframe{
    margin-bottom: 4vh;
}

#yoda h1{
    font-size: 70px;
}

#two-win{
    margin-top: 5vh;
    padding-top: 15vh;
    padding-bottom: 10vh;
    background-color: #000;
    color: blanchedalmond;
    display: none;
}
#two-win iframe{
    margin-bottom: 4vh;
}

#two-win h1{
    font-size: 70px;
}

#vader{
    margin-top: 5vh;
    padding-top: 15vh;
    padding-bottom: 10vh;
    background-color: #000;
    color: blanchedalmond;
    display: none;
}
#vader iframe{
    margin-bottom: 4vh;
}

#vader h1{
    font-size: 70px;
}

#magikarp{
    width: 180px;
    position: absolute;
    top: 340px;
    left: 45vw;
    display: none;
}

#far-west-transition{
    background-color: #000;
    position: absolute;
    top: 3vh;
    width: 100vw;
    height: 96vh;
    display: none;
    margin-top: 0;
}

#far-west-transition iframe{
    background-color: #000;
    margin-top: 160px;
}

#star-wars-transition{
    background-color: #000;
    position: absolute;
    top: 3vh;
    width: 100vw;
    height: 96vh;
    display: none;
    margin-top: 0;
}

#star-wars-transition iframe{
    background-color: #000;
    margin-top: 160px;
}

